
body {

  background-image: url(https://i.pinimg.com/originals/3e/c8/69/3ec869e51eef38eac2d159030ecf1784.gif);

  background-repeat:no-repeat;

  background-position: center;

  background-size: cover;

  height: 100%;

}

p {

  color: white;

  text-align: center;

  font-size: 30px;

}

.text{
     
     font-family: Courier New;
     
     font-weight: Bold;
}

h1 {

  color: white;

  text-align: center;

  font-size: 50px

}

h2 {

  color: white;

  text-align: center;

  font-size: 50px

}

.crystal {

  float: left;

}

.headings{
     
     
}

h4 {

  text-align: center;

  padding-top: 150px;

/*   padding-left: 100px; */

}

h5 {

  text-align: center;

  font-size: 40px;

/*   padding-left: 180px; */
     
     padding-right: 30px;

}

h5 a:hover{
     
     color: blue;
     
     font-size: 30px;
}

h6 {

  text-align: center;

  font-size: 40px;

/*   padding-left: 220px; */
    
   margin-bottom: 10px;
  
   padding-left: 65px;

}

#rose-quartz {

  margin-bottom: 100px;

  color: white;

  font-size: 40px;
  
  width: 22%;
     
  margin-left: 5%;
     
  text-align: center;
     
  font-family: Courier New;
     
  font-weight: Bold;

}

/* #rose-text{
          position: absolute;
          padding-bottom: 40px; 
} */

#amethyst {

  color: white;

  font-size: 40px;
    
  margin-top: 100px;
     
  margin-left: 1%;
  
  width: 40%;
     
  text-align: center;
     
  font-family: Courier New;
     
  font-weight: Bold;

}

#sapphire {

  color: white;

  font-size: 40px;

  padding-top: 150px;
     
  margin-left: 7%;
  
  width: 25%;
     
  text-align: center;
     
  font-family: Courier New;
     
  font-weight: Bold;

}


img {

  height: 600px;

}

#sapphire-img {

  height: 500px;

}

#amethyst-img {

/*   padding-left: 200px; */
     
/* max-width: 100%; */
     


}

#rose-quartz-img {

  margin-bottom: 100px;

/*   padding-left: 100px; */

  padding-top: 50px;

  height: 500px;

}

.crystal{
     
     float: left;
}

a{
    color: white;
    
    text-decoration: none;
    
}

a:hover{
    
color: pink;
    
}