
body {

  background-image: url(images/green-bg.png);

  background-repeat: repeat;

  background-position: center;

  background-size: cover;

  height: 100%;

}


.buttons{
    
    width: 100%;
}

ul{
    text-align: center;
}

li{
    display: inline;
}

#name{
    
   text-align: center;
    
   margin-top: 100px;
    
   font-size: 100px;
    
   width: 50%;
}

#home{
    
    margin-right: 200px;
}

#next{
    
    margin-left: 200px;
}



p{

    
    font-size: 30px;
    
    width: 300px;
    
   padding-right: 100px; 
}

.text{
    width: 30%;
}

.rose-info .text {
    float: right;
    padding-right: 100px;
}

.rose-info img{
    float: left;
}

.rose-info{
    
    padding-top: 100px;
}

#rose-uses{
    
    float: right;
}
/* img{
    
    height: 1000px;
    
    padding-left: 100px;
}

.rose-boarder, img{
    
    height: 400px;
} 

restricting webpage */

.rose-boarder{
    
    width: 100%;
}

#boarder{
    
    text-align: center;
}

#rose-quartz-img{
    
    height: 1000px;
}