
body {

  background-image: url(images/green-bg.png);

  background-repeat: repeat;

  background-position: center;

  background-size: cover;

/*   height: 100%; */
    
  padding-bottom: 200px;

}


.buttons{
    
    width: 100%;
}

ul{
    text-align: center;
    font-family: Courier New;
    font-weight: Bold;
}

li{
    display: inline;
}

#name{
    
   text-align: center;
    
   margin-top: 100px;
    
   font-size: 100px;
    
   width: 50%;
}

#home{
    
    margin-right: 200px;
}

#next{
    
    margin-left: 200px;
}



p{

    
    font-size: 30px;
    
    width: 300px;
    
   padding-right: 100px; 
}

.text{
    width: 30%;
}

.rose-info .text {
    float: right;
    padding-right: 100px;
    font-family: Courier New;
    font-weight: Bold;
}

.rose-info img{
    float: left;
}

.rose-info{
    
    padding-top: 100px;
}

#rose-uses{
    
    float: right;
}
/* img{
    
    height: 1000px;
    
    padding-left: 100px;
}

.rose-boarder, img{
    
    height: 400px;
} 

restricting webpage */

.rose-boarder{
    
    width: 100%;
}

#boarder{
    
    text-align: center;
}

#rose-quartz-img{
    
    height: 1000px;
}

a.topbarlink:hover{
    
    color: f1c40f;
    font-size: 50px;
}

#next a:hover{
    
    color: #3742fa;
}

#info-links p{
    
    clear: both;
    
    width: initial;
    
    padding-top: 50px;
}

a#infolinkcv:hover{
    
    color: red;
}
