
body {

  background-image: url(https://i.gifer.com/19e7.gif);

  background-repeat: repeat;

  background-position: center;

  background-size: cover;

  /*   height: 100%; */

  padding-bottom: 200px;

}

.buttons {

  width: 100%;

}

ul {

  text-align: center;

  font-family: Courier New;

  font-weight: Bold;

}

li {

  display: inline;

}

#name {

  text-align: center;

  margin-top: 100px;

  font-size: 100px;

  width: 50%;

  font-family:'Grand Hotel';

}

#home {

  margin-right: 200px;
  

}

#next {

  margin-left: 200px;

}

#next a:hover {

  color: blue;
     
  font-size: 50px;

}

#home a:hover{
     
  color: red;
     
  font-size: 50px;
}

p {

  font-size: 30px;

  width: 300px;

  padding-right: 100px;

}

.text {

  width: 30%;

}

.rose-info .text {

  float: right;

  padding-right: 100px;

  font-family: Courier New;

  font-weight: Bold;

  padding-bottom: 0%;

  /*   border: 10px solid yellow; shows me how much space this takes up */

}

.rose-info img {

  float: left;

}

.rose-info {

  padding-top: 100px;

}

#rose-uses {

  float: right;

}

/* img{
    
    height: 1000px;
    
    padding-left: 100px;
}

.rose-boarder, img{
    
    height: 400px;
} 

restricting webpage */

.rose-boarder {

  width: 100%;

}

#boarder {

  text-align: center;

}

#rose-quartz-img {

  height: 1000px;

  margin-bottom: 100px;

  padding-left: 200px;

}

#rq-heart {

  width: 300px;

  padding-left: 750px;

  margin-top: -600px;

}

#rq-heart-img {

  height: 700px;

  /*     border: 20px solid blue;  shows me the space the object is taking up */

}

a.topbarlink: hover {

  color: f1c40f;

  font-size: 50px;

}

.topbarlink {
     
     color: #DB0A5B;
}

#next a:hover {

  color: #3742fa;

}

.info-linksrq p {

  clear: both;

  width: initial;

  padding-top: 50px;

  font-family: Courier New;

  font-weight: Bold;

}

.shop {

  font-family: Courier New;

  font-weight: Bold;

}

.learn {

  font-family: Courier New;

  font-weight: bold;

}

.learn a:hover {
  
     color: pink;
     
     font-size: 30px;
}

.shop a:hover{
     
     color: pink;
     
     font-size: 30px;
}

.infolinksrq {

  font-size: 20px;

  font-family: Courier New;

  font-weight: Bold;

  width: initial;

  color: #DB0A5B;

  padding-top: 50px;

}

.shoplinksrq {

  font-size: 20px;

  font-family: Courier New;

  font-weight: Bold;

  width: initial;

  color: #DB0A5B;

  padding-top: 50px;

}

.info-linksrq a:hover {

  color: #F1A9A0;

}

#links {

  padding-left: 300px;

}